# POSTGRES (Para o container local)
POSTGRES_USER= #crie um usuario 
POSTGRES_PASSWORD= #crie sua senha
POSTGRES_DB=saleswintour

# Configurações de Conexão
# Para rodar LOCALMENTE (com banco no Docker):
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=lztconnect

# Para rodar EM PRODUÇÃO (ou ambiente fixo):
# DB_HOST=177.136.230.35
# DB_PORT=5433

# Prisma database connection
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer

# Nest
PORT=3000

# Security
JWT_ACCESS_SECRET=nestjsPrismaAccessSecret
JWT_REFRESH_SECRET=nestjsPrismaRefreshSecret

# Wintour SOAP
WINTOUR_SOAP_URL=https://www.digirotas.com/HubInterfacesSoap/soap/IHubInterfaces
WINTOUR_SOAP_PIN=
WINTOUR_SOAP_LIVRE=
WINTOUR_SOAP_NAMESPACE=http://tempuri.org/
WINTOUR_SOAP_ACTION=http://tempuri.org/importaArquivo2
